<html lang="en" class="h-100">
    
    <body style="background-color:bisque">
        

        <div >        
        <form style="margin: auto;text-align: center;position: relative; width:90%; 
        height:10em;border:2rem;border-color: black;border-radius: 2rem;background-color: aqua;" action="/createb" method="POST" >
            <h1>Create a S3 Bucket</h1>
            <label for="name">Bucket name:</label>
            <input type="text" id="bname" name="name" placeholder="Enter bucket name"><br><br>
            <label for="region">Region:</label>
            <input type="text" id="region" name="region" placeholder="Enter region"><br><br>
            <input type="submit" value="Submit">
            
        </form>
        </div>

        
    </body>
</html>