<html>
    <body style="background-color:bisque">
        
        <div >  
        
        <form style="margin: auto;text-align: center;position: relative; width:90%; 
        height:10em;border:2rem;border-color: black;border-radius: 2rem;background-color: aqua;"
        action="/deleteb" method="POST">
        <h1>Delete a S3 Bucket</h1>
            <!-- <p>Name<input  type="text" name="name"/></p> -->
            <label for="name">Bucket name:</label>
            <input type="text" id="bname" name="name" placeholder="Enter bucket name"><br><br>
                
            <input type="submit"  value="Submit">
        </form>
    </div>
        
    </body>
</html>